html, body{
    height: 100%;
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 1fr 4fr;
    margin: 0;
    height: 100vh;
}

.kefali{
    background-color: rgb(82, 204, 163);
    display: flex;
    justify-content:center;
    
    align-items: center;
    height: 20vh;
   
}
.swma{
    background-color: cadetblue;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size:7em;
    font-style: italic;
    position: relative;
    left: -1em;
    color: rgb(223, 215, 108);
    text-shadow: -3px 0 black, 0 3px black,
     3px 0 black, 0 -3px black;
}

h2{
    font-size:1.5em;
    font-style: italic;
    position: relative;
    left: -20em;
    color: rgb(233, 138, 75);
    text-shadow: -1px 0 black, 0 1px black,
     1px 0 black, 0 -1px black;
}

.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 30em;
    width: 30em;
   
    gap: 2px;
    border: solid black;
}
.chose{
    width: 30em;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

#bot{
    width: 30em;
    height: 3em;
    display: flex;
    justify-content: center;
}

.cell {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 100px;
    text-align: center;
    
  }
  button{
    width: 7em;
    height: 1.5em;
    font-size: x-large;
    font-family: monospace;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
  }
  button:hover {
    width: 7.5em;
    height: 1.7em;
    background-color: #cfda6e;
    
  }
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    
  }